.home-page {
  margin-top: 0;
}

.welcome-section {
  text-align: center;
}

.welcome-content {
  max-width: 800px;
  margin: 0 auto;
}

.welcome-content p {
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 20px;
}